@font-face {
  font-family: 'Baloo Paaji';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/baloopaaji/v9/8AttGsyxM5KQQU-Y4MTwVZnT.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lora/v17/0QI6MX1D_JOuGQbT0gvTJPa787weuyJG.ttf) format('truetype');
}
